# This file is used by Docker Compose.
# It uses the service name 'postgres' because containers communicate over the Docker network.
DATABASE_URL="postgresql://user:password@postgres:5432/ratings_db"

# The M2M token is required for the application to run.
M2M_TOKEN="<PASTE_YOUR_TOKEN_HERE>"

# Other environment variables for the application
LOG_LEVEL=debug
KAFKA_URL=kafka:29092
KAFKA_GROUP_ID=legacy-rating-processor
SUBMISSION_API_URL=https://api.topcoder-dev.com/v5
